.bg-dark{
    background-color: black !important;
}

.boton:hover{
    background-color: rgba(210, 105, 30, 0.692) !important;
}

.boton{
    border: white solid 0px !important;
    background-color: chocolate !important;
    color: white !important;
}

.social, a{
    color: chocolate;
    text-decoration: none;
    
}

.social:hover, a:hover{
    color: rgba(210, 105, 30, 0.692);
    text-decoration: none;
}

a .img-fluid:hover{
    border: chocolate solid 2px;
}



.nav-link:hover, .navbar-brand:hover{
    color: chocolate !important;
}