.bg-dark{
    background-color: black !important;
}

.boton:hover{
    background-color: rgba(210, 105, 30, 0.692) !important;
}

.boton{
    border: white solid 0px !important;
    background-color: chocolate !important;
    color: white !important;
}

.social, p a{
    color: chocolate;
    text-decoration: none;
    
}

.social:hover, p a:hover{
    color: rgba(210, 105, 30, 0.692);
    text-decoration: none;
}

a .img-fluid:hover{
    border: chocolate solid 2px;
}

.nav-link:hover, .navbar-brand:hover{
    color: chocolate !important;
}

.list-group-item a{
    color: black !important;
    text-decoration: none;
}

li.list-group-item:hover{
    background-color: chocolate !important;
}

.card{
    border: none !important;
}

.productos .card:hover{
    border: 1px solid chocolate !important;
}

.btn-outline-primary {
    border-color: chocolate !important;
}

/* 

colocar zoom a imagen

.card-img-top{
    transition: transform .2s;
}

.card-img-top:hover{
    transform: scale(1.5);
}
*/

.card-body{
    margin: 0;
    padding: 0;
    color: black !important;
    text-decoration: none !important;
}

.card-text{
    padding-top: 0.3rem;
    padding-bottom: 00.3rem;
    font-size: 1.5rem;
}

.productos .card:hover .card-text{
    background-color: chocolate;
    
}

